<h2 mat-dialog-title>Add new issue</h2>
<mat-dialog-content>
    <app-issue-form #issueForm></app-issue-form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" (click)="addIssue(issueForm)">Add issue</button>
</mat-dialog-actions>