<h2 mat-dialog-title>Delete issue?</h2>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="warn" (click)="deleteIssue()">Delete</button>
</mat-dialog-actions>
