<h2 mat-dialog-title>Edit issue</h2>
<mat-dialog-content>
    <app-issue-form #issueForm [issue]="issue"></app-issue-form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" (click)="saveIssue(issueForm)">Save issue</button>
  <button *ngIf="canDelete" mat-flat-button color="warn" (click)="deleteIssue()">Delete</button>
</mat-dialog-actions>
