<div class="dashboard">
    <div class="dashboard__actions">
        <mat-form-field class="toggle">
          <mat-label>Type</mat-label>
          <mat-select [formControl]="typeControl" name="type">
            <mat-option>All</mat-option>
            <mat-option *ngFor="let type of typeArray" [value]="type">
                {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle color="primary" class="toggle" (change)="handleCreatedByMe($event)">Created by me</mat-slide-toggle>
        <mat-slide-toggle color="primary" class="toggle" (change)="handleAssignedOnMe($event)">Assigned on me</mat-slide-toggle>
        <button mat-flat-button color="primary" (click)="openAddNewIssueDialog()">
            <mat-icon>library_add</mat-icon>
            <span style="margin-left: 5px;">Add new issue</span>
        </button>
    </div>
    <div class="dashboard__columns" cdkDropListGroup>
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="badge">{{issueToDo.length}}</span>
                TO DO
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-issue-list [issues]="issueToDo" [status]="statuses.todo"></app-issue-list>
        </mat-expansion-panel>
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="badge">{{issueInProgress.length}}</span>
                IN PROGRESS
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-issue-list [issues]="issueInProgress" [status]="statuses.in"></app-issue-list>
        </mat-expansion-panel>
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="badge">{{issueReview.length}}</span>
                REVIEW
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-issue-list [issues]="issueReview" [status]="statuses.review"></app-issue-list>
        </mat-expansion-panel>
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="badge">{{issueDone.length}}</span>
                DONE
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-issue-list [issues]="issueDone" [status]="statuses.done"></app-issue-list>
        </mat-expansion-panel>
    </div>
</div>
