@import 'variables';

.dashboard {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

    &__actions {
        padding: 20px 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        row-gap: 10px;

        @media(max-width: 420px) {
            flex-direction: column;
        }
    }

    &__columns {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        column-gap: 8px;
        row-gap: 12px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.panel {
    height: fit-content;
    background-color: #f4f5f7;
}

.badge {
    background-color: $color-primary;
    color: white;
    //padding: 0 6px;
    margin-right: 5px;
    border-radius: 50%;
    font-size: 13px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    text-align: center;
}

.toggle {
    padding-left: 15px;
    padding-right: 15px;
}