.issue {
    margin: 3px auto;
    position: relative;
    padding: 8px;
    cursor: move;

    &__avatar {
        position: absolute;
        top: 8px;
        right: -7px;
    }

    &__type {
        border-radius: 5px;
        color: white;
        font-size: 12px;
        padding: 2px 5px;
        height: fit-content;
    }

    &__summary {
        margin-right: 50px;
    }

    &__footer {
        display: flex;
    }

    &__date {
        margin-left: auto;
        margin-top: 5px;
        color: grey;
    }
}