<mat-card class="issue" (click)="openEditIssueDialog()">
    <div class="issue__summary">
        <p>{{issue.summary}}</p>
    </div>
    <app-user-avatar *ngIf="assigneeAvatar" class="issue__avatar" [src]="assigneeAvatar" [username]="assigneeUsername"></app-user-avatar>
    <div class="issue__footer">
        <span class="issue__type" [ngStyle]="{backgroundColor: issue.type === 'Bug' ? 'red' : issue.type === 'Epic' ? 'darkgoldenrod' : issue.type === 'User Story' ? 'green' : issue.type === 'Task' ? 'blue' : 'none' }">
            {{issue.type | uppercase}}
        </span>
        <span class="issue__date">
            {{issue.dueDate | toDate | date:'dd.MM.YYYY'}}
        </span>
    </div>
</mat-card>
