<div class="layout">
    <header>
        <img src="../../../assets/svg/jira.svg" class="jira-logo" alt="Jira icon">
        <span>{{ username }}</span>
        <app-user-avatar [currentUser]="true"></app-user-avatar>
        <button mat-flat-button color="accent" (click)="logout()" class="logout-btn">Logout</button>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer></footer>
</div>
