@import 'variables';

.layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
}

header {
    grid-area: header;
    background-color: $color-primary;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3%;
    color: white;
}

main {
    grid-area: main;
}

.jira-logo {
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    margin-right: auto;

    @media(max-width: 700px) {
        display: none;
    }
}