<form [formGroup]="form" class="issue-form">
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select [formControl]="typeControl" name="type" required>
        <mat-option *ngFor="let type of types" [value]="type">
            {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="issue" appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select [formControl]="statusControl" name="status" required>
        <mat-option *ngFor="let status of statuses" [value]="status">
            {{status}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Assignee</mat-label>
        <mat-select [formControl]="assigneeControl" name="assignee">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let assignee of users | async" [value]="assignee.id">
              {{assignee.username}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="issue" appearance="fill">
        <mat-label>Reporter</mat-label>
        <mat-select [formControl]="reporterControl" name="reporter">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let reporter of users | async" [value]="reporter.id">
              {{reporter.username}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Due date</mat-label>
        <input readonly matInput [matDatepicker]="picker" [min]="minDate" [formControl]="dueDateControl" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Summary</mat-label>
        <input matInput [formControl]="summaryControl" required>
        <mat-hint>Max length 100</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput [formControl]="descriptionControl"></textarea>
        <mat-hint>Max length 1000</mat-hint>
    </mat-form-field>
  </form>
