.user-image {
    width: 30px;
    height: 30px;
    clip-path: circle(50%);
    margin: 0 15px;
    user-select: none;

    & > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
