@import 'variables';

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primary--light;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 2px grey;
    max-width: 450px;
    width: 100%;
    margin: 0 5px;

    &__btn {
        font-size: 24px;
        padding: 20px 10px;
        box-shadow: 0 1px 5px 1px $color-primary;
        background-color: white;
    }

    &__jira-logo {
        padding: 20px;
        width: 100%;
        max-width: 400px;
    }

    &__img {
        width: 24px;
        height: 24px;
    }
}