<main class="content">
    <div class="login">
        <img src="../../../assets/svg/jira.svg" class="login__jira-logo" alt="Jira icon">
        <button mat-stroked-button color="primary" class="login__btn" (click)="login()">
            <img src="../../../assets/svg/google.svg" class="login__img" alt="Google login icon">
            <span style="margin-left: 5px;">Login with Google</span>
        </button>
    </div>
</main>
